<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>11ty Presentation</title>
    <link rel="stylesheet" href="{{ '/assets/styles/theme.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/styles/syntax.css' | url }}">
    <script>
        localStorage.getItem('theme') && 
        document.documentElement.setAttribute('data-theme', localStorage.getItem('theme'));
    </script>
</head>
<body>
    <main>
        {% include '_themePicker.njk' %}
        {% block presentation %}
        {% endblock presentation %}
        <video id="video"></video>
    </main>
</body>
    <script src="{{ '/assets/scripts/present.js' | url }}"></script>
    <script src="{{ '/assets/scripts/theme.js' | url }}"></script>
    <script src="{{ '/assets/scripts/react-components.js' | url }}"></script>
</html>